body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
